@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("font-awesome.min.css");

	.icon {
		text-decoration: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

	.cover-img {
		height: 700px;
		display: table;
		width: 100%;
		background-size: cover;
	}


	.rounded-circle{
		border-radius: 50%;
		transition: all 0.6s ease 0s;
	}
	.rounded-circle:hover {
		cursor: pointer;
		transform: scale(1.1, 1.1);
	}
	  
/* ワイドスクリーン用のCSS */
	@media only screen and (min-width: 1500px) {
		.cover-img {
			height: 800px;
		}
	}

	/* タブレット用のCSS */
	@media only screen and (min-width : 768px) and (max-width : 1200px) {
		.cover-img {
			height: 500px;
		}
	}

	/* スマホ用のCSS */
	@media only screen and (max-width: 479px) {
		.cover-img {
			height: 300px;
		}
	}

	.cover-text {
		display: table-cell;
		vertical-align: middle;
	  text-align: center;
	}
